body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f9;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    padding: 15px 50px;
}

.logo {
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Header */
header {
    text-align: center;
    padding: 50px 20px;
    background: linear-gradient(to right, #4e73df, #1cc88a);
    color: white;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

/* Sections */
section {
    padding: 50px 20px;
    text-align: center;
}

.projects {
    background: #e9ecef;
}

.project-card {
    background: white;
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 15px;
}
